@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Anton);

#navlist {
  list-style-type: none;
  margin: 0px;
  padding: 5px;
  overflow: hidden;
  border: 1px solid grey;
  text-align: center;
  border-top: 4px solid #481054;
  border-bottom: 4px solid #481054;
  padding bottom: 17px;
}

#navlist li {
  display:inline-block;
  padding: 20px;
}

li a:hover {
  background-color: white;
}

h1 {
    font-family: "Finger Paint", sans-serif;
    padding: 25px;
    text-align: center;
    font-size: 70px;
    color: #481054;
  }

p {
  text-align: center;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  color: #80488C;
}

#beansentence {
  font-size: 35px;
  font-family: "PT Sans Narrow", sans-serif;
}

#twitter {
  font-size: 25px;
  float: left;
}

#menu {
  font-size: 60px;
  padding: 5px;
  text-align: left;
}

h2 {
  font-family: "Anton", sans-serif;
  color: #80488C;
}

h3 {
  font-family: "PT Sans Narrow", sans-serif;
  padding: 10px;
}

#appetizers {
  font-size: 20px;
}

h3 {
  font-size: 50px;
  font-family: "Finger Paint", sans-serif;
  padding: 5px;
  color: #481054;
}

#ourmission {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #2E0138;
  text-align: left;
  padding: 30px;
}

#list {
  font-family: "PT Sans Narrow", sans-serif;
}

li {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  color: #2E0138;
}

#upcomingevents {
  font-size: 50px;
  float: left;
}

#lookforbeantruck {
  font-family: "Anton", sans-serif;
  font-size: 30px;
}
